
@{
    ViewBag.Title = "FideFit";
}

<a href=""><img src="~/Assets/img/g11.jpg" class="img-fluid" alt="..."
                style="height: auto; width: auto;"></a>


<section class="row" aria-labelledby="aspnetTitle">

    <h2 style="
           font-size: 45px;
           position: relative;
           font-family:'Cascadia Mono';
           text-align:center;
           text-decoration-line:underline;          
           margin:10px;
           "
        id="title">
        ENTRENA COMPITE Y REPITE
    </h2>
</section>



<div class="row row-cols-1 row-cols-md-3 g-4" style="margin:10px; text-align:center;">
    <div class="col">
        <div class="card">
            <a href=""><img src="~/Assets/img/gma.jpg" class="img-fluid" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Instructores Profesionales</h5>
                <p class="card-text"> Contamos con profesionales en el área que se encargarán de brindarte la ayuda necesaria. </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <a href=""><img src="~/Assets/img/g2.jpg" class="img-fluid" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Equipo de Peso</h5>
                <p class="card-text">En nuestras instalaciones encontrarás variedad  de libras, tamaños y formas en mancuernas</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <a href=""><img src="~/Assets/img/g3.jpg" class="img-fluid" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Máquinas de última generación</h5>
                <p class="card-text">En nuestro gimnasio encontrarás máquinas de ultima generación, garantizando una experiencia moderna.</p>
            </div>
        </div>
    </div>
</div>
